src/main/mule/demo.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xmlns:http="http://www.mulesoft.org/schema/mule/http"
	xmlns="http://www.mulesoft.org/schema/mule/core"
	xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">
	<http:listener-config name="HTTP_Listener_config" doc:name="HTTP Listener config" doc:id="b33d0eb9-c14c-467c-9fb0-491c06d096b4" >
		<http:listener-connection host="0.0.0.0" port="8082" />
	</http:listener-config>
	<http:request-config name="HTTP_Request_configuration" doc:name="HTTP Request configuration" doc:id="899ba659-d645-48cf-9aa3-f8d273a8528e" basePath="/api/timezone" >
		<http:request-connection host="worldtimeapi.org" />
	</http:request-config>
	<flow name="demoFlow" doc:id="9fc1c591-1b14-4f00-b008-6008ba00fc94" >
		<http:listener doc:name="Listener" doc:id="f75ca0b8-bb6f-4101-bde8-8d83ed0a7c32" config-ref="HTTP_Listener_config" path="/worldTime/{area}/{city}"/>
		<http:request method="GET" doc:name="Request" doc:id="5e91456f-9e96-4135-a565-6f82d3b56e01" config-ref="HTTP_Request_configuration" path="/{area}/{city}">
			<http:uri-params ><![CDATA[#[output application/java
---
{
	area : attributes.uriParams.area,
	city : attributes.uriParams.city
}]]]></http:uri-params>
		</http:request>
	</flow>
</mule>
